body {
    background-image: url("background1.jpg");
}

p {
    font-size: 25px;
}

div {
    width: 110px;
    height: 70px;
    float: left;
    width: 108px;
    height: 67px;
    border: solid 1px;
    border-color: #343449;
    text-align: center;
}

#mainFrame {
    width: 770px;
    height: 553px;
    position: relative;
    margin: 0px auto;
    top: 40px;
    float: inherit;
    border: solid 2px;
}

#header {
    width: 768px;
    height: 68px;
    position: relative;
    background: #DAD7DE;
    float: inherit;
    border: solid 1px;
}

#img-left {
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
}

#img-right {
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
}

#mounth {
    border: none;
    width: 628px;
    height: 68px;
    float: left;
    text-align: center;
}

#days {
    background: #9D91B7 ;
    text-align: center;
    vertical-align: middle;
}

.datas {
    border: none;
    width: 770px;
    height: 413px;
}

.Over_Bg {
    background:#A88AB2 ;
}

.Out_Bg {
    background: #C4B1BA;
}

.not_active {
    background: #EFE6EA;
}